[submodule "shared/shared_docker"]
	path = shared/shared_docker
	url = https://github.com/nuniesmith/shared-docker.git
[submodule "shared/shared_scripts"]
	path = shared/shared_scripts
	url = https://github.com/nuniesmith/shared-scripts.git
[submodule "shared/shared_nginx"]
	path = shared/shared_nginx
	url = https://github.com/nuniesmith/shared_nginx
[submodule "shared/shared_actions"]
	path = shared/shared_actions
	url = https://github.com/nuniesmith/shared_actions
